<html>
    <style>
        body {
            margin: 0;
            background-color: dimgrey;
            height: 100%;
            display: grid;
            grid-template-rows: auto 1fr; /* Header and content areas */
            grid-template-columns: 1fr; /* Main content area */
            grid-gap: 10px;
        }
        </style>
<script type="module" crossorigin="anonymous">
    

    setTimeout(function() {
        // Redirect to /allvmc
        window.location.href = "/allvms";
    }, 1500);


    


</script>
</html>
